*.pyc
*.pyo
*~
*.swp
/instance
/log
.idea
*.DS_Store
__pycache__/
experiments/
exp/
alfred/
archive/
mortimer/web_experiments/change_names.py
mortimer/static/CA_server_public.pem
mortimer/static/mongodb_client_keypair.pem
mortimer/static/mongodb_client_public.crt
temp/
*.pem
set_environ_vars.py
log_mortimer.md
mortimer/pym.py
wsgi.py
move_to_default_alfred.conf 
alfredo2_ca_chain.pem
alfred.conf
exp/
.vscode/settings.json
test.py
test_copy.py
test_copy2.py
.vscode/.ropeproject/config.py
.vscode/launch.json
.vscode/


development_mortimer.conf
.envrc
mortimer.conf
tests/run_locally/*
tests/run_locally/run.py
src/mortimer.egg-info
build/
dist/
mortimer_venv/
.mortimer/
.venv/
.python-version
