*.pyc
*.pyo
*~
*.swp
/instance
/log
.idea
*.DS_Store
__pycache__/
experiments/
alfred/
archive/
mortimer/web_experiments/change_names.py
mortimer/static/CA_server_public.pem
mortimer/static/mongodb_client_keypair.pem
mortimer/static/mongodb_client_public.crt
temp/
*.pem
set_environ_vars.py
log_mortimer.md
mortimer/pym.py
wsgi.py
move_to_default_alfred.conf 
alfredo2_ca_chain.pem
alfred.conf
