{% extends "layout.html" %}

{% block content %}
<h1>Welcome to Mortimer</h1>
<div class="content-section">


    <p>Mortimer is a free and open source web application, developed by Christian Treffenstaedt, Paul Wieman and
        Johannes Brachem at the Georg-August-University Goettingen (Germany). </p>


    <p>It's purpose is to host and manage Alfred experiments and surveys (see <a
            href="https://github.com/ctreffe/alfred">Alfred on GitHub</a>).</p>


    <p>If you would like to learn more, you can visit the <a href='https://github.com/ctreffe/mortimer'>Mortimer GitHub
            repository</a>.</p>

</div>

{% endblock content %}