{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="" class="needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <!-- Encryption key status -->
            {% if current_user.encryption_key %}
            <p><i class="fas fa-check-circle"></i> Your account is ready for using encryption in your alfred
                experiments.</p>
            {% else %}
            <p><i class="fas fa-times-circle"></i> Your account is not ready for using encryption in your alfred
                experiments. Please log out and log back in again to get ready!</p>
            {% endif %}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}

                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}

            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}

                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>

                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary")}}
        </div>
    </form>

</div>

{% endblock content %}