{% extends "layout_experiment.html" %}

{% block content %}

<div class="table-responsive horizontal-scrollbar">

  <table class="table table-hover">

    <thead>
      <tr class="table-active">

        {% for col in data_list[0] %}
        <th scope="col" class="small">{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>

      {% for col in data_list[1:] %}
      <tr>
        {% for cell in col %}
        <td class="small text-muted">{{ cell }}</td>
        {% endfor %}
      </tr>

      {% endfor %}
</div>

{% endblock content %}