{% extends "layout_experiment.html" %}

{% block content %}

<!-- <div class="media content-section"> -->

<!-- <div class="row">
        <div class="col-xs-12"> -->
<div>

  <div class="table-responsive">

    <table class="table table-hover">

      <thead>
        <tr class="table-active">

        {% for col in csv_list[0] %}
        <th scope="col" class="small">{{ col }}</th>
        {% endfor %}
        </tr>
      </thead>

      <tbody>

      {% for col in csv_list[1:] %}
        <tr>
        {% for cell in col %}
            <td class="small text-muted">{{ cell }}</td>
        {% endfor %}
        </tr>
          
      {% endfor %}


{% endblock content %}