{% extends "layout.html" %}

{% block content %}

<h1>Welcome to Mortimer</h1>
<div class="content-section">


        <p>Mortimer is a free and open source web application, developed by Christian Treffenstaedt, Paul Wieman and
                Johannes Brachem at the Georg-August-University Goettingen (Germany). </p>


        <p>Its purpose is to host and manage Alfred experiments and surveys (see <a
                        href="https://github.com/ctreffe/alfred">Alfred on GitHub</a>).</p>


        <p>If you would like to learn more, you can visit the <a href='https://github.com/ctreffe/mortimer'>Mortimer
                        GitHub
                        repository</a>.</p>

        <div class="alert alert-info" role="alert">
                <!-- <h3>Futurizing a script</h3> -->
                <b>When you publish research</b> conducted using Alfred, provide the following citation: <span
                        title="In this proposed citation, we use the alfred version number that currently runs on the server. The doi will always link to the Zenodo repository with all versions."><i
                                class="fas fa-info-circle"></i></span><br>
                Treffenstaedt, C., Brachem, J., & Wiemann, P. (2021). Alfred3 - A library for rapid experiment development (Version {{ alfred }}). Göttingen, Germany: <a
                        href="https://doi.org/10.5281/zenodo.1437219">https://doi.org/10.5281/zenodo.1437219</a>
        </div>

        <h4>Unique ID</h4>
        <p><code>{{ id }}</code></p>
        <span class="text-mute">This is a unique ID for your convenience. A new ID is generated each time you refresh
                this
                page. You can use it as <code>exp_id</code> in the <code>config.conf</code> of a local experiment to
                create a
                unique experiment identifier.</span>

</div>

{% endblock content %}