{% extends "layout_experiment.html" %}

{% block content %}


<div class="row">

    {# Experiment Data #}
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <h2 class="card-heading"><i class="fas fa-chart-area mr-2"></i>Experiment Data</h2>
            </div>

            <form method="POST" enctype="multipart/form-data" class="needs-validation card-body" id="exp_data_form">
                {{ form_exp_data.hidden_tag() }}


                <div class="form-group">

                    <div class="form-group row">
                        <div class="col-3 col-form-label">
                            {{ form_exp_data.data_type.label }}
                        </div>
                        <div class="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for subfield in form_exp_data.data_type %}

                                {% if subfield.checked %}
                                <label class="btn btn-outline-secondary active">
                                    {% else %}
                                    <label class="btn btn-outline-secondary">
                                        {% endif %}
                                        {{ subfield }}
                                        {{ subfield.label.text }}
                                    </label>
                                    {% endfor %}

                            </div>

                            <div class="invalid-feedback">
                                {% for error in form_exp_data.data_type.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                            <small class="form-text text-muted">
                                Unlinked data is data that was collected on an <code>UnlinkedDataPage</code>. It is
                                saved separately from experiment data and cannot be linked to a specific experiment
                                session. As such, unlinked data can be suitable for collecting personalized data.
                            </small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3 col-form-label">
                            {{ form_exp_data.file_type.label }}
                        </div>

                        <div class="col">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for subfield in form_exp_data.file_type %}
                                {% if subfield.checked %}
                                <label class="btn btn-outline-secondary active">
                                    {% else %}
                                    <label class="btn btn-outline-secondary">
                                        {% endif %}
                                        {{ subfield }}
                                        {{ subfield.label.text }}
                                    </label>
                                    {% endfor %}

                            </div>

                            <div class="invalid-feedback">
                                {% for error in form_exp_data.file_type.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                            <small class="form-text text-muted">Semicolon-separated .csv is recommended for working with
                                Excel.
                            </small>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-3 col-form-label">
                            {{ form_exp_data.version.label(class="form-control-label") }}
                        </div>

                        <div class="col">
                            {% if form_exp_data.version.errors %}
                            {{ form_exp_data.version(class="form-control is-invalid") }}

                            <div class="invalid-feedback">
                                {% for error in form_exp_data.version.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form_exp_data.version(class="form-control") }}
                            {% endif %}

                            <small id="passwordHelpBlock" class="form-text text-muted">
                                By pressing <code>command</code> (Mac) or <code>Strg</code> (Windows) while clicking,
                                you can
                                select multiple versions at once. If you select "all versions", all data will be
                                exported, no
                                matter which other versions you select.
                            </small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">

                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" form="exp_data_form"><i
                                    class="fas fa-download mr-2"></i>Export Experiment
                                Data</button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>




    {# Codebook #}
    <div class="col-12 col-lg-6">

        <div class="card h-100">
            <div class="card-header">
                <h2 class="card-heading"><i class="fas fa-table mr-2"></i>Codebook</h2>
            </div>

            <form method="POST" enctype="multipart/form-data" class="needs-validation card-body" id="codebook_form">
                {{ form_codebook.hidden_tag() }}


                <div class="form-group row">
                    <div class="col-3 col-form-label">
                        {{ form_codebook.file_type.label }}
                    </div>

                    <div class="col">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for subfield in form_codebook.file_type %}
                            {% if subfield.checked %}
                            <label class="btn btn-outline-secondary active">
                                {% else %}
                                <label class="btn btn-outline-secondary">
                                    {% endif %}
                                    {{ subfield }}
                                    {{ subfield.label.text }}
                                </label>
                                {% endfor %}

                        </div>

                        <div class="invalid-feedback">
                            {% for error in form_codebook.file_type.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>

                </div>


                <div class="form-group row">
                    <div class="col-3 col-form-label">
                        {{ form_codebook.version.label(class="form-control-label") }}
                    </div>

                    <div class="col">
                        {% if form_codebook.version.errors %}
                        {{ form_codebook.version(class="form-control is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form_codebook.version.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                        {% else %}
                        {{ form_codebook.version(class="form-control") }}
                        {% endif %}

                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-3">

                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" form="codebook_form"><i
                                class="fas fa-download mr-2"></i>Export
                            Codebook</button>
                    </div>
                </div>

                <div class="form-group row border-top">
                    <div class="col-3">

                    </div>
                    <div class="col">
                        <a href="{{ url_for('web_experiments.export_base_codebook') }}" class="btn btn-info mt-3"><i
                                class="fas fa-download mr-2"></i>Export
                            Base
                            Codebook</a>
                        <small class="form-text text-muted">
                            The base codebook describes those variables in an alfred dataset that are not linked to
                            specific
                            input elements. They are associated with pages, sections, or the whole experiment.
                        </small>
                    </div>
                </div>



            </form>


        </div>
    </div>

</div>






{% endblock content %}