{% extends "base.html" %}

{% block content %}



 <h1>Import Data</h1>
    <p class="lead">Ipsum...</p>
    DB: {{ db }}

    <form class="form-horizontal" enctype="multipart/form-data" method="post">

        {% csrf_token %}


        {{ form }}
        <label for="files">Files</label><input id='files' name="files" type="file" accept="application/json" multiple />

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Import</button>
        </div>
    </form>

{% endblock %}